.button {
    position: relative;
    text-decoration: none;
    font-family: inherit;
    border: none;
    cursor: pointer;
    user-select: none;
    background-color: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius-small);
}

.button:focus { 
    outline: none; 
}

.button:active {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}

.button:hover:active .overlay {
    opacity: 0.1;
}