.elevation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    opacity: 0;
    pointer-events: none;
    background-color: var(--on-background-color);
}

:global(.dark-mode .low).elevation {
    opacity: 0.05;
}

:global(.dark-mode .medium).elevation {
    opacity: 0.07;
}

:global(.dark-mode .high).elevation {
    opacity: 0.09;
}

:global(.dark-mode) .elevation {
    background-color: var(--on-background-color);
}

:global(.dark-mode .surface) .elevation {
    background-color: var(--on-surface-color);
}

:global(.dark-mode .primary) .elevation {
    background-color: var(--on-primary-color);
}

:global(.dark-mode .primary-light) .elevation {
    background-color: var(--on-primary-light-color);
}

:global(.dark-mode .primary-dark) .elevation {
    background-color: var(--on-primary-dark-color);
}

@media (prefers-color-scheme: dark) {
    /* .low.elevation {
        opacity: 0.05;
    }
    
    .medium.elevation {
        opacity: 0.07;
    }
    
    .high.elevation {
        opacity: 0.09;
    } */
    
    /* .elevation {
        background-color: var(--on-background-color);
    }
    
    .surface .elevation {
        background-color: var(--on-surface-color);
    }
    
    .primary .elevation {
        background-color: var(--on-primary-color);
    }
    
    .primary-light .elevation {
        background-color: var(--on-primary-light-color);
    }
    
    .primary-dark .elevation {
        background-color: var(--on-primary-dark-color);
    } */
}
