/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Roboto+Slab:wght@100;400;700&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700&display=swap');
:root {
    font-size: 14px;
    --background-color: #ffffff;
    --surface-color: #ffffff;
    --primary-color: #1976d2;
    --primary-light-color: #63a4ff;
    --primary-dark-color: #004ba0;
    --on-primary-color: #ffffff;
    --on-primary-light-color: #000000;
    --on-primary-dark-color: #ffffff;
    --on-background-color: #000000;
    --on-surface-color: #000000;
    --emphasis-high: 0.87;
    --emphasis-medium: 0.64;
    --emphasis-low: 0.5;
    --border-radius-small: 0.2rem;
    --border-radius-medium: 0.5rem;
    --border-radius-big: 1rem;
}

.dark-theme {
    --background-color: #0a0a0a;
    --surface-color: #0a0a0a;
    --on-background-color: #ffffff;
    --on-surface-color: #ffffff;
}

html,
body {
    padding: 0;
    margin: 0;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

.theme-container {
    background-color: var(--background-color);
    color: var(--on-background-color);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    margin: 0;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: bolder;
}

h4 {
    font-size: 1.2rem;
    font-weight: bolder;
}

.background {
    background-color: var(--background-color);
    color: var(--on-background-color);
}

.surface {
    background-color: var(--surface-color);
    color: var(--on-surface-color);
}

.primary {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
}

.primary-light {
    background-color: var(--primary-light-color);
    color: var(--on-primary-light-color);
}

.primary-dark {
    background-color: var(--primary-dark-color);
    color: var(--on-primary-dark-color);
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}