.container {
    display: flex;
    flex-direction: row;
    padding: 5rem 1rem 0rem 1rem;
}

.column {
    display: flex;
    flex-direction: column;
}

.left {
    composes: column;
    flex: 1;
}

.center {
    composes: column;
    width: 500px;
    max-width: 500px;
}

.right {
    composes: column;
    flex: 1;
}

.title {
    margin: 0 0 3rem 0;
    line-height: 1.15;
    font-size: 4rem;
}

.compose {
    margin-bottom: 1rem;
}

.timeline {
    flex-shrink: 0;
}

.navbarHidden {
    top: -4rem;
}

@media (max-width: 600px) {
    .container {
        padding: 4rem 0rem 0rem 0rem;
    }

    .timeline {
        width: 100%;
    }

    .timelineItem {
        border-radius: 0;
        box-shadow: 0 0px 1px rgb(0 0 0 / 20%);
    }

    .compose {
        margin-bottom: 0rem;
        border-radius: 0;
    }
}