.inputfield {
    position: relative;
    padding: 0.5rem;
    font-size: 1rem;
    display: flex;
    border-radius: var(--border-radius-small);
}

.input {
    border: none;
    appearance: none;
    outline: none;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    padding: 0;
    opacity: var(--emphasis-high);
    flex: 1;
}

.elevation {
    border-radius: var(--border-radius-small);
}

.overlay {
    border-radius: var(--border-radius-small);
}

.placeholder {
    position: absolute;
    opacity: var(--emphasis-low);
    left: 0.5rem;
    top: 0.5rem;
    pointer-events: none;
    font-size: 1rem;
    transition: top 0.2s, font-size 0.2s;
}

.input:focus + .placeholder, .input.filled + .placeholder {
    top: -1.5rem;
    font-size: 0.8rem;
}

.inputfield.focus .overlay, .inputfield:focus.focus .overlay {
    background-color: var(--primary-color) !important;
    opacity: 0.1;
}

.inputfield.focus {
   box-shadow: 0 0 0 2px var(--primary-color);
}

@media (hover: hover){
    .inputfield:hover .overlay {
        opacity: 0.04;
    }
}