.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post {
    margin-top: 3rem;
    border-radius: var(--border-radius-medium);
    padding: 2rem;
    /* in-height: calc(100vh - 3rem);*/
    width: 800px;
    font-size: 1.4rem;
/*    font-family: 'Montserrat', sans-serif;*/
}

.post h1,
.post h2,
.post h3,
.post h4,
.post p {
    opacity: var(--emphasis-high);
}

.post p {
    line-height: 1.5em;
    text-align: justify;
}

.post img {
    max-width: 100%;
}

.userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.username {
   opacity: var(--emphasis-medium); 
   font-weight: bold;
}

@media (max-width: 600px) {
    .post {
        margin-top: 0;
        width: 100%;
        /*min-height: 100vh;*/
    }
}
