.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.form > * {
    margin-bottom: 1rem;
}

.header {
    margin-bottom: 2rem;
}

.field {
    margin-top: 1rem;
}

.submit {
    box-shadow: 0 0 3px var(--primary-color);
}

.submit:active {
    box-shadow: 0 0 3px var(--primary-color);
}

@media (max-width: 600px) {
    .form {
        width: 100%;
    }
}