.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.form > * {
    margin-bottom: 1rem;
}

.header {
}

.errorContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 2rem;
}

.error {
    color: var(--error-color);
    visibility: hidden;
    transition: visibility 1s;
}

.formButton {
    display: flex;
    justify-content: center;
}

:global(.dark-mode) .submit {
    box-shadow: 0 1px 3px rgb(var(--primary-rgb) / 20%),
        0 1px 3px rgb(var(--primary-rgb) / 12%);
}

:global(.dark-mode) .submit:active {
    box-shadow: 0 1px 20px rgb(var(--primary-rgb) / 20%),
        0 1px 20px rgb(var(--primary-rgb) / 12%);
}

@media (max-width: 600px) {
    .form {
        width: 100%;
    }
}