.timeline-item {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-medium);
    padding: 1rem;
    cursor: pointer;
}


.content {
    opacity: var(--emphasis-high);
    margin-bottom: 1rem;
}

.authorContainer {
    margin-bottom: 1rem;
}

.author {
    opacity: var(--emphasis-medium);
    font-weight: bolder;
    display: inline;
    user-select: none;
    font-size: 0.9rem;
}

.author:hover {
    color: var(--primary-color);
    opacity: var(--emphasis-high);
}

.date {
    opacity: var(--emphasis-low);
    display: inline;
    float: right;
    user-select: none;
    font-size: 0.9rem;
}

.stats {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

.stats__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2rem;
    cursor: pointer;
    user-select: none;
    opacity: var(--emphasis-medium);
}

.stats__item > * {
    margin-right: 0.5rem;
}

.stats__item:hover {
    color: var(--primary-color);
    opacity: var(--emphasis-high);
}

.comments {
    composes: stats__item;
}

.shared {
    composes: stats__item;
}

.likes {
    composes: stats__item;
}

.likes:hover, .likes:global(.selected) {
    color: #ff1744;
}

.shared:hover {
    color: rgb(1, 187, 10);
}
